body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #828fd8; */
  color: white;
}

.header-toolbar #navlink {
  color: white;
  text-decoration: none;
}